<div class="card card-block">
    <div class="card-title">
        <div class="clearfix">
            <div class="pull-xs-left">
                <h4>{{title}}</h4>
            </div>
            <div class="pull-xs-right">
                <button type="button" class="close" (click)="discard()">&times;</button>
            </div>
        </div>
    </div>
    <div class="card-text row">
        <div class="col-xs-6">
            <label for="repetitions">Repetitions</label>
            <input type="number" class="form-control" id="repetitions" name="repetitions"
                   [(ngModel)]="setModel.repetitions" />
        </div>

        <div class="col-xs-6">
            <label for="weight">Weight (kg)</label>
            <input type="number" class="form-control" id="weight" name="weight"
                   [(ngModel)]="setModel.weightKg" />
        </div>
    </div>
</div>