<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <h2>{{workoutModel.name}}</h2>
                <span class="small">{{workoutModel.notes}}</span>
            </div>
            <div class="col-xs-12 col-sm-2 text-xs-right">
                <button (click)="deleteWorkout()" type="button" class="close">&times;</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <!-- TODO Refactor this! One exercise-component and one set-component -->
        <div class="card card-block" *ngFor="let exerciseModel of workoutModel.exercises">
            <div class="card-title row">
                <div class="col-xs-12 col-sm-10">
                    <h4>{{exerciseModel.name}}</h4>
                </div>
                <div class="col-xs-12 col-sm-2 text-xs-right">
                    <button (click)="deleteExercise(exerciseModel)" type="button" class="close">&times;</button>
                </div>
            </div>
            <div class="card-text row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Set #</th>
                            <th>Repetitions</th>
                            <th>Weight (kg)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setModel of exerciseModel.sets; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{setModel.repetitions}}</td>
                            <td>{{setModel.weightKg}}</td>
                            <td><span class="close" (click)="deleteSet(exerciseModel, setModel)">&times;</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer text-xs-right">
        <button (click)="addExercise()" type="button" class="btn btn-primary" [hidden]="hideAddExerciseButton">&#43; Add exercise</button>
        <a [routerLink]="['/workout', 'edit', workoutModel.id]" [hidden]="hideEditButton" class="btn btn-info">Edit workout</a>
        <a [routerLink]="['/workout', 'get', workoutModel.id]" [hidden]="hideGetButton" class="btn btn-primary">Go to workout</a>
    </div>
</div>